<div class="container w-50 mt-5">
  <h2>Create a New List</h2>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <span style=''><%= f.input :photo, as: :file %></span>
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= link_to "Back to Lists", lists_path, class: "btn btn-primary" %>
  <% end %>
</div>
