<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light" style="background: rgb(157,56,100); background: radial-gradient(circle, rgba(157,56,100,1) 0%, rgba(11,18,27,1) 100%);">
    <%= yield %>
  </body>
</html>
